/* Light/Dark theme variables */
:root {
    --background-color: #f8f9fa;
    --card-background: #dbe0fc;
    --text-color: #333333;
    --secondary-text-color: #414141;
    --primary-color: #1e88e5;
    --primary-hover: #1565c0;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --example-card-background: #e8ebfd;
    --example-card-hover: #dbe0fc;
}

[data-theme="dark"] {
    --background-color: #0e1117;
    --card-background: #292a34;
    --text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --primary-color: #1e88e5;
    --primary-hover: #1565c0;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --example-card-background: #1e1f24;
    --example-card-hover: #292a34;
}

.main {
    background-color: var(--background-color);
}

.stApp {
    max-width: 100%;
    margin: 0 auto;
}

.card {
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 20px;
    margin-bottom: 20px;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-card {
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 15px;
    width: 48%;
    text-align: center;
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.stat-label {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.graph-container {
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 10px;
    margin-bottom: 20px;
    height: 750px;
}

.sidebar .stButton>button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 0;
}

.sidebar .stButton>button:hover {
    background-color: var(--primary-hover);
}

.element-container div[data-testid="stMarkdownContainer"] h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--text-color);
}

.example-card {
    text-align: center;
    padding: 20px;
    min-height: 190px;
    background-color: var(--example-card-background);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--shadow-color);
    height: 100%;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.example-card:hover {
    background-color: var(--example-card-hover);
    transform: translateY(-2px);
}

.example-card h4 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.example-card p {
    font-size: 0.9em;
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}
